body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #11998e, #38ef7d);
}

#login .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 600px;
  height: 300px;
  box-shadow: 2px 2px 2px 2px #343a40;
  border-radius: 3px;    
}